# =========================================
# Python
# =========================================

__pycache__/
*.py[cod]
*$py.class

# =========================================
# Virtual Environment
# =========================================

venv/
.venv/
env/
ENV/

# =========================================
# Django
# =========================================

*.log
*.pot
*.pyc

# SQLite database
*.sqlite3

# Django media
media/

# Django static files
staticfiles/

# =========================================
# Environment / Secrets
# =========================================

.env
.env.*
!.env.example

# =========================================
# IDE / Editor
# =========================================

.vscode/
.idea/

# =========================================
# OS files
# =========================================

.DS_Store
Thumbs.db

# =========================================
# Coverage / Testing
# =========================================

.coverage
htmlcov/
.pytest_cache/

# =========================================
# Node / Angular
# =========================================

node_modules/
dist/
.angular/